<!-- Display the value of the 'title' property in an H1 heading -->
<h1>{{title}}</h1>

<!-- Define a navigation menu using routerLink to navigate to different components in the application -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>

<!-- Define a router outlet where the different components will be rendered -->
<router-outlet></router-outlet>

<!-- Include the 'app-messages' component to display messages to the user -->
<app-messages></app-messages>
